* {
    box-sizing: border-box;
    font-family: Roboto;
}

body {
    margin: 0px;
}

.wrapper {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    background-color: #46A358;
    color: white;
    width: 100px;
    margin-left: 370px;
    border-radius: 6px;
    line-height: 20px;
    size: 16px;
    border-style: none;
}

.up {
    display: inline-block;
}

.links {
    text-decoration: none;
    color: #3D3D3D;
    margin-left: 50px;
}

.header {
    padding-top: 30px;
    height: 53px;
}

.activate {
    border-bottom: 2px solid green;
    text-decoration: none;
    padding: 25px;
    padding-bottom: 25px;
}

.center {
    background-color: #F5F5F580;
}

.center-in {
    display: inline-block;
    width: 557px;
}

.welcome {
    line-height: 16px;
    font-size: 14px;
    color: #3D3D3D;
    margin-bottom: 7px;
}

.better {
    margin-bottom: 5px;
    font-size: 70px;
    line-height: 70px;
    color: #3D3D3D;
}

.span {
    color: #46A358;
}

.blabla {
    color: #727272;
    size: 14px;
    line-height: 24px;
    width: 557px;
    margin-right: 600px;
    margin-left: 43px;
}

.downb {
    color: #FFFFFF;
    background-color: #46A358;
    width: 140px;
    border-radius: 6px;
    margin-bottom: 85px;
    margin-left: 41px;
    margin-right: 1019px;
    margin-top: 44px;
    border-style: none;
    height: 40px;
}

.plant {
    display: inline-block;
    padding-top: 95px;
}