.registerr {
    color: #008000;
}
.links {
    color: black;
}

.linkss {
    display: block;
    text-align:center;
}

.links {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
}

.firrst {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
.linkss {
    text-decoration: none;
}

.register {
    background-color: green;
    color: white;
}
 


