.registerr {
    color: #008000;
}
.login, .links {
    color: black;
}

.linkss, .registerr {
    display: block;
    text-align:center;
}

.up, .links {
    display: block;
    margin-bottom: 10px;
}

.firrst, .down {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
.linkss, .links {
    text-decoration: none;
}

.register {
    background-color: green;
    color: white;
}
 


