* {
    display: inline-block;
}

c
}

.left {
    margin-top: 69px;
    margin-left: 120px;
    width: 586px;
}

.more {
    width: 150px;
    padding-left: 406px;
    margin-bottom: 9px;
    text-align: right;
}

.p {
    size: 14px;
    color: #727272;
    margin-top: 8px;
    text-align: right;
}

.linkF {
    color: #FFFFFF;
    background-color: #46A358;
    width: 140px;
    text-align: center;
    height: 40px;
    border-radius: 6px;
    padding-top: 11px;
    margin-left: 152px;
    text-decoration: none;
}

.boxes {
    display: inline-flex;
    align-items: baseline;
    justify-content: center;
}

.right {
    margin-left: 28px;
    width: 586px;
}

.styling {
    width: 146px;
    padding-left: 116px;
    text-align: right;
}

.pp {
    color: #727272;
    margin-top: 6px;
    text-align: right;
    width: 292px;
}

.blogs {
    margin-left: 496px;
    margin-right: 497px;
    color: #3D3D3D;
    margin-bottom: 15px;
    width: 209px;
}

.ppp {
    color:#727272;
    margin-right: 323px;
    margin-left: 322px;
}

.downn {
    margin-left: 119px;
}

.img {
    width: 268px;
}

.box {
    width: 242px;
    display: flex;
}

.texta {
    margin-left: 15px;
}

.pe {
    color: #46A358;
    margin-bottom: 4px;
}

.ht {
    color: #3D3D3D;
    text-align: left;
    margin-top: 0px;
    width: 189px;
    margin-bottom: 9px;
}

.pr {
    color:#727272 ;
    margin-top: 0px;
}

.moer {
    text-decoration: none;
    color: #3D3D3D;
}

.moer:hover {
    color: #46A358;
}